html {
  box-sizing: border-box;
  /* --bgColorMenu : #1d1d27;  */
  --duration: 0.7s;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

/* body{

    margin: 0;
    display: flex;
    height: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #ffb457;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--duration);

} */

.menu {
  display: flex;
  width: 30.05em;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 0 2.85em;
  background-color: var(--bgColorMenu);
  margin-bottom: 10px;
  font-size: 1.5em;
  margin-left: auto;
}

.menu__item {
  all: unset;
  flex-grow: 1;
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.35em 0 0.85em;
  transition: transform var(--timeOut, var(--duration));
}

.menu__item::before {
  content: "";
  z-index: -1;
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: background-color var(--duration), transform var(--duration);
}

.menu__item.active {
  transform: translate3d(0, -0.8em, 0);
}

.menu__item.active::before {
  transform: scale(1);
  background-color: var(--bgColorItem);
}

.icon {
  width: 2.2em;
  height: 2.2em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
}

.menu__item.active .icon {
  animation: strok 1.5s reverse;
}

@keyframes strok {
  100% {
    stroke-dashoffset: 400;
  }
}

.menu__border {
  left: 0;
  bottom: 99%;
  width: 8.9em;
  height: 0;
  position: absolute;
  clip-path: url(#menu);
  will-change: transform;
  background-color: var(--bgColorMenu);
  transition: transform var(--timeOut, var(--duration));
}

.svg-container {
  width: 0;
  height: 0;
}

@media only screen and (max-width: 1024px) {
  .menu {
    display: none;
    width: 100px;
    height: 0;
    align-items: center;
    justify-content: center;
    padding: 0;

    margin-bottom: 10px;
    font-size: 1.5em;
    margin-left: 0;
  }

  .menuShow {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    justify-content: center;
    animation: slideDown 500ms;
  }

  .menu__item {
    padding: 5px;
  }

  .icon {
    width: 30px;
    height: 3opx;
  }
  .menu__item::before {
    width: 40px;
    height: 40px;
  }
  .Header__combinerr {
    /* margin-top: 50px; */
    display: flex;
    width: 50px;
    height: 5px;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .togglerr {
    margin-bottom: 10px;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-60px);
    }

    25% {
      transform: translateY(10px);
    }

    50% {
      transform: translateY(30px);
    }

    100% {
      transform: translateY(0);
    }
  }

  /* .base{
            background-color: white;
        } */
}
