/* html {

    box-sizing: border-box;
    scroll-behavior: smooth;
 
     --duration: .7s;    

} */

html *,
html *::before,
html *::after {

    box-sizing: inherit;

}

.headerWrapper{
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 120px;
    transition: 1s;
}
.title{
    display: flex;
    margin-left: 20px;
    color: #ffff;
    font-size: 40px;
    font-weight: bold;
}
.fixedHeader{
    width: 100%;
    /* transition: all 0.4s; */
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    height: 100px;
    scroll-behavior: smooth;
    transition: 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
  .fixedHeaderDown{
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    height: 170px;
    scroll-behavior: smooth;
    transition: 1s;
  }
  .fixedHeaderUp{
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    height: 100px;
    scroll-behavior: smooth;
    transition: 1s;
  }
  .togglerr{
    display: none;
  }

.menu{
    display: flex;
    width:50.05em;
    height:100px;
    align-items: center;
    justify-content: center;
    padding: 0 2.85em;
    background-color: var(--bgColorMenu);
    font-size: 1.5em;
    margin-left: 14%;

}

.menu__item{

    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    /* padding: 0.35em 0 0.85em; */
    transition: transform var(--timeOut , var(--duration));

}

.menu__item::before{
    content: "";
    z-index: -1;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);

}


.menu__item.active {

    transform: translate3d(0, -.4em , 0);

}

.menu__item.active::before{
    transform: scale(1);
    background-color: var(--bgColorItem);

}

.icon{
    padding: 30px;
    width: 1.5em;
    height: 1.5em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;

}

.menu__item.active .icon {

    animation: strok 1.5s reverse;

}
.menu__border{

    left: 0;
    bottom: 99%;
    width: 8.9em;
    height: 0;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut , var(--duration));

}
.svg-container {
    width: 0;
    height: 0;
}

/* @media only screen and (max-width: 1220px) {
    .menu{
        display: flex;
        width:50.05em;
        height:100px;
        align-items: center;
        justify-content: center;
        padding: 0 2.85em;
        background-color: var(--bgColorMenu);
        font-size: 1.5em;
        margin-left: 10%;
    
    }
  } */
@media only screen and (max-width: 1180px) {
    .icon{
        padding: 25px;
        width: 1.5em;
        height: 1.5em;
        stroke: white;
        /* fill: transparent; */
        stroke-width: 1pt;
        stroke-miterlimit: 10;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 400;
    }
    .menu {
        display: none;
  
      }
      .togglerr{
          display:flex;
          justify-self: flex-end;
          margin-left: auto;
          margin-right: 40px;
          margin-bottom: 90px;
  
  
      }

      /*  */


      .menus {
          filter: url("#shadowed-goo");
        }
        
        .menus-item, .menus-open-button {
          background: #f46208;
          border-radius: 100%;
          width: 50px;
          height: 50px;
          margin-left: -40px;
          position: absolute;
          top: 20px;
          color: white;
          text-align: center;
          line-height: 80px;
          transform: translate3d(0, 0, 0);
          transition: transform ease-out 200ms;
        }
        
        .menus-open {
          display: none;
        }
        
        .hamburger {
          width: 25px;
          height: 3px;
          background: white;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -12.5px;
          margin-top: -1.5px;
          transition: transform 200ms;
        }
        
        .hamburger-1 {
          transform: translate3d(0, -8px, 0);
        }
        
        .hamburger-2 {
          transform: translate3d(0, 0, 0);
        }
        
        .hamburger-3 {
          transform: translate3d(0, 8px, 0);
        }
        
        .menus-open:checked + .menus-open-button .hamburger-1 {
          transform: translate3d(0, 0, 0) rotate(45deg);
        }
        .menus-open:checked + .menus-open-button .hamburger-2 {
          transform: translate3d(0, 0, 0) scale(0.1, 1);
        }
        .menus-open:checked + .menus-open-button .hamburger-3 {
          transform: translate3d(0, 0, 0) rotate(-45deg);
        }
        
        .menus {
          
        }
        
        .menus-item:hover {
          background: white;
          color: #00bcd4;
        }
        .menus-item:nth-child(3) {
          transition-duration: 180ms;
        }
        .menus-item:nth-child(4) {
          transition-duration: 180ms;
        }
        .menus-item:nth-child(5) {
          transition-duration: 180ms;
        }
        .menus-item:nth-child(6) {
          transition-duration: 180ms;
        }
        
        .menus-open-button {
          z-index: 2;
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-duration: 400ms;
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          cursor: pointer;
        }
        
        .menus-open-button:hover {
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
        }
        
        .menus-open:checked + .menus-open-button {
          transition-timing-function: linear;
          transition-duration: 200ms;
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
        }
        
        .menus-open:checked ~ .menus-item {
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        .menus-open:checked ~ .menus-item:nth-child(3) {
          transition-duration: 190ms;
          transform: translate3d(0px, 100px, 0);
        }
        .menus-open:checked ~ .menus-item:nth-child(4) {
          transition-duration: 290ms;
          transform: translate3d(0px, 200px, 0);
        }
        .menus-open:checked ~ .menus-item:nth-child(5) {
          transition-duration: 390ms;
          transform: translate3d(0px, 300px, 0);
        }
        .menus-open:checked ~ .menus-item:nth-child(6) {
          transition-duration: 490ms;
          transform: translate3d(0px, 400px, 0);
        }
        .menus-icon{
           height: 35px;
           width: 30px;

        }


      /*  */
  
      /* .base{
          background-color: white;
      } */
  
  
  
    
  }
@media only screen and (max-width: 1090px) {
    .icon{
        padding: 20px;
        width: 1.5em;
        height: 1.5em;
        stroke: white;
        fill: transparent;
        stroke-width: 1pt;
        stroke-miterlimit: 10;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 400;
    }
  }
  @media only screen and (max-width: 1000px) {
    .icon{
        padding: 18px;
        width: 1.3em;
        height: 1.3em;
        stroke: white;
        fill: transparent;
        stroke-width: 1pt;
        stroke-miterlimit: 10;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 400;
    }
    .menu{
        margin-left: 5%;
    
    }
  }
/* @media only screen and (max-width: 840px) {
    .icon{
        padding: 17px;
        width: 1.3em;
        height: 1.3em;
        stroke: white;
        fill: transparent;
        stroke-width: 1pt;
        stroke-miterlimit: 10;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 400;
    }
    .menu{
        margin-left: 1%;
    
    } */
  /* } */
  /* @media only screen and (max-width: 810px) {
    .icon{
        padding: 15px;
        width: 1.3em;
        height: 1.3em;
        stroke: white;
        fill: transparent;
        stroke-width: 1pt;
        stroke-miterlimit: 10;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 400;
    }
    .menu{
        margin-left: -1%;
    }
  } */
  /* @media only screen and (max-width: 760px) {
    .menu{
        display: none;
    }
    .togglerr{
        display:flex;
        margin-left: auto;
        margin-right: 20px;
    } 
  } */
      /* .link { 
        color: var(--text-color-dark);
        font-weight: 700;
        -webkit-transition: margin 0.4s ease, padding 0.4s ease;
        -o-transition: margin 0.4s ease, padding 0.4s ease;
        transition: margin 0.4s ease, padding 0.4s ease;
      } */
    
      