.base {
  position: relative;
  cursor: pointer;
}
.toolTip {
  position: absolute;
  top: 30px;
  left: -210px;
  z-index: 2;
}
.overLay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
@media (min-device-width: 1025px) {
  .toolTip {
    /* left: 0; */
  }
  .toolTip {
    position: absolute;
    top: 30px;
    left: -112px;
    z-index: 2;
  }
}
