.base {
  width: 100%;
  height: auto;
}
.titlesHolder {
  width: 33.33%;
  height: auto;
  margin-bottom: 10px;
}
.titleWithSocialHeader {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.socialDataHolder {
  width: auto;
  height: auto;
  position: absolute;
  right: 0;
}
.imageWrapper {
  width: auto;
  height: auto;
  text-align: center;
  margin-bottom: 25px;
  cursor: pointer;
}
