.base {
  width: 100%;
}
@media (max-device-width: 1366px) {
  .widthWrapper {
    width: 100%;
  }
}
@media (min-device-width: 1366px) {
  .widthWrapper {
    width: 100%;
    max-width: 1366px;
    margin: 0px auto;
  }
}
