.base {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  opacity: 0.3;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #f11313;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background-color: #fff;
  margin: 5px;
  box-shadow: 0px 0px 0px 4px white;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
