.base {
  width: 100%;
  padding: 40px;
  background-color: #f9f9f9;
  padding-bottom: 80px;
}
.dark {
  color: var(--text-color-dark);
}

.divider {
  margin: auto;
  width: 150px;
  height: 3px;
  border: none;
  background: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.topSection {
  text-align: center;
}

/* card started here */
.cardMain {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.cardArea {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

.cardSection {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
  size: 500px;
}
