@media only screen and (max-width: 1024px) {
  /* .wallpaper {
    display: none;
  }
  .portfolioWrapper {
    flex-direction: column;
  }
  .portfolioOne {
    width: 342px;
    height: 334px;
    margin: 21px 0 21px -40px;
    padding: 36px 28px 27px 37px;
    background-color: #ffffff;
  }
  .portfolioTwo {
    width: 342px;
    height: 334px;
    margin: 4px 0 21px -40px;
    padding: 36px 28px 27px 37px;
    background-color: #ffffff;
  } */

  .base {
    width: 460px;
    /* changing height  */
    height: 930px;
    /* margin: 16px 0 241px;  */
    margin: 1px;
    padding: 37px 34px 49px 38px;
    background-color: #e4f2fb;
  }
  .box {
    border: none;
  }
  .portfolioTwo {
    width: 342px;
    margin-top: -45px;
    /* height: 334px; */
    margin: 4px 0 21px -40px;
    padding: 36px 28px 27px 37px;
    background-color: #ffffff;
  }
  .portfolioWrapper {
    flex-direction: column;
  }
  .portfolioOne {
    width: 342px;

    /* height: 334px; */
    margin: 21px 0 21px -40px;
    padding: 36px 28px 27px 37px;
    background-color: #ffffff;
  }

  .infoCard {
    width: 277px;
    height: 78px;
    margin: 43px 0 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  .header {
    color: white;
    margin-top: -5px;
  }
  .desc.dark {
  }
  .infoCard {
    top: auto;
    bottom: 0;
  }
}
