.base {
  margin: 20px;
  color: black;
}
.card {
  padding: 20px;
  box-shadow: 0px 0px 10px #524c4c;
  border-radius: 10px;
}
.title {
  color: black;
}
@media (max-width: 1025px) {
  .card {
    display: flex;
  }
  .title {
    color: red;
  }
}
